body.subclases {
  font-size: 0.9em;
    font-size-text-align: left;
    font-size-padding: 50px 0px;
  text-align: center; }
  body.subclases section#faq {
    text-decoration: underline;
    padding: 20px 0px; }
